/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/*/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
.phpunit.result.cache
node_modules
